<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801053055110-7i8u483irj11gaovpcu7srko4hv73ga8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801053055110-7i8u483irj11gaovpcu7srko4hv73ga8</string>
	<key>API_KEY</key>
	<string>AIzaSyAYpqMDqlqozsfbh-z5QEpWNyje6fLb8iY</string>
	<key>GCM_SENDER_ID</key>
	<string>801053055110</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.washzone.washv01</string>
	<key>PROJECT_ID</key>
	<string>washv01</string>
	<key>STORAGE_BUCKET</key>
	<string>washv01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801053055110:ios:0b2740dd26a80a1753d907</string>
</dict>
</plist>